<style>
.header{
text_align:center;
font-family:"Palatino";
font-size:15px
}
.h{
font-family:'Arial Black';
}
.c{
text_align:center;
font-family:"Verdana";
font-size:15px;

}
.img-srh{
width:300px
}
.img-csk{
height:200px
}
.img-mi{
height:200px
}
.img-kkr{
width:330px
}
</style>
